block variables
    - var title = 'Самые популярные рок группы'
    
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Популярные рок группы': 'index.html', 
            'Самая популярная рок группа': "pearljam.html",  
            'Список самых популярных рок групп': "list.html"
        }
    
    
    - 
        var articles = [
          {
            'image': '1.jpg',
            'title': 'Pearl Jam',
            'text': 'Pearl Jam — американская рок-группа, одна из четырёх ключевых групп (наряду с Alice in Chains, Nirvana и Soundgarden, так называемая «большая четвёрка») музыкального движения гранж, пользовавшегося большой популярностью в первой половине 1990-х годов.',
          },
          {
            'image': '2.jpg',
            'title': 'Metallica',
            'text': 'Metallica («Мета́ллика») — американская метал-группа, созданная вокалистом и гитаристом Джеймсом Хетфилдом и барабанщиком Ларсом Ульрихом в Лос-Анджелесе, штат Калифорния, в 1981 году.',
          },
          {
            'image': '3.jpg',
            'title': 'Bob Dylan',
            'text': 'Ро́берт (Боб) Ди́лан — американский автор-исполнитель, художник, писатель и киноактёр.',
          },
          {
            'image': '4.jpg',
            'title': 'Queen',
            'text': 'Queen (Куи́н; в переводе с англ. — «Королева») — британская рок-группа, добившаяся широчайшей известности в середине 1970-х годов, и одна из наиболее успешных групп в истории рок-музыки.',
          },
          {
            'image': '5.jpg',
            'title': 'Pink Floyd',
            'text': 'Pink Floyd (рус. Пинк Флойд) — британская рок-группа, знаменитая своими продолжительными композициями и объединёнными в тематические сюиты песнями, звуковыми экспериментами, философскими текстами, дизайном обложек альбомов и грандиозными концертными шоу.',
          },
          {
            'image': '1.jpg',
            'title': 'Pearl Jam',
            'text': 'Pearl Jam — американская рок-группа, одна из четырёх ключевых групп (наряду с Alice in Chains, Nirvana и Soundgarden, так называемая «большая четвёрка») музыкального движения гранж, пользовавшегося большой популярностью в первой половине 1990-х годов.',
          }
        ]
      
    -
        var pearljamImages = ['mine1.jpg','mine2.jpg','mine3.jpg']
     
    -
        var pearljamInfo = [
          'Pearl Jam — американская рок-группа, одна из четырёх ключевых групп (наряду с Alice in Chains, Nirvana и Soundgarden, так называемая «большая четвёрка») музыкального движения гранж, пользовавшегося большой популярностью в первой половине 1990-х годов. Группа быстро стала известной благодаря своему дебютному альбому, Ten, в 1991 году.',
          'За свою более чем тридцатилетнюю карьеру группа выпустила двенадцать студийных альбомов, два мини-альбома, восемь концертных альбомов, четыре DVD, четыре сборника, тридцать два сингла и двести шестьдесят три официальных бутлега.',
          'На текущее время группа продала более 31.5 миллионов копий альбомов в США и около 60 миллионов в мире. Pearl Jam пережили и превзошли многих своих современников по альтернативному року и считаются одной из самых влиятельных групп десятилетия. Стивен Томас Эрлевайн из AllMusic назвал Pearl Jam «самой популярной американской рок-н-ролл группой 90-х». 7 апреля 2017 года Pearl Jam были включены в Зал славы рок-н-ролла.',
        ]
    
    -
        var listInfo = {
          'header': ["Название группы", "Страна", "Год основания", "Основной жанр", "Самая популярная песня", "Последняя песня", "Средняя длительность песен", "Прослушивания"],
          'rows': [
            ["Queen", "Великобритания", "1970", "Рок", "Bohemian Rhapsody", "The Show Must Go On", "4:00", "100 млн"],
            ["The Beatles", "Великобритания", "1960", "Рок", "Hey Jude", "Let It Be", "3:00", "150 млн"],
            ["Led Zeppelin", "Великобритания", "1968", "Hard Rock", "Stairway to Heaven", "In the Evening", "5:00", "80 млн"],
            ["The Rolling Stones", "Великобритания", "1962", "Рок", "Satisfaction", "Living in a Ghost Town", "3:30", "120 млн"],
            ["Pink Floyd", "Великобритания", "1965", "Прогрессивный рок", "Another Brick in the Wall, Part 2", "High Hopes", "7:00", "70 млн"],
            ["U2", "Ирландия", "1976", "Рок", "With or Without You", "Get Out of Your Own Way", "4:30", "60 млн"],
            ["Nirvana", "США", "1987", "Гранж", "Smells Like Teen Spirit", "You Know You're Right", "3:00", "100 млн"],
            ["Metallica", "США", "1981", "Тяжелый металл", "Enter Sandman", "Lux Æterna", "5:00", "90 млн"],
            ["Radiohead", "Великобритания", "1985", "Альтернативный рок", "Paranoid Android", "There There", "5:00", "50 млн"],
            ["Red Hot Chili Peppers", "США", "1983", "Фанк-рок", "Californication", "Black Summer", "4:30", "70 млн"],
            ["Guns N' Roses", "США", "1985", "Хард-рок", "Sweet Child o' Mine", "Absurd", "5:00", "80 млн"],
            ["The Doors", "США", "1965", "Психоделический рок", "Light My Fire", "The End", "4:00", "50 млн"],
            ["AC/DC", "Австралия", "1973", "Хард-рок", "Highway to Hell", "Shot in the Dark", "4:00", "100 млн"],
            ["Aerosmith", "США", "1970", "Хард-рок", "Walk This Way", "Living on the Edge", "4:00", "70 млн"],
            ["Green Day", "США", "1987", "Панк-рок", "When I Come Around", "Father of All...", "3:30", "90 млн"],
            ["The Cure", "Великобритания", "1976", "Готическая рок", "Friday I'm in Love", "A Letter to Elise", "4:30", "50 млн"],
            ["Foo Fighters", "США", "1994", "Альтернативный рок", "Everlong", "Shame Shame", "4:00", "60 млн"],
            ["Pearl Jam", "США", "1990", "Гранж", "Jeremy", "Superblood Wolfmoon", "4:30", "50 млн"],
            ["The Who", "Великобритания", "1964", "Рок", "Baba O'Riley", "Who Are You", "4:00", "70 млн"],
            ["Ramones", "США", "1974", "Панк-рок", "Blitzkrieg Bop", "I Wanna Be Sedated", "2:30", "40 млн"],
            ["R.E.M.", "США", "1980", "Альтернативный рок", "Losing My Religion", "Leaving New York", "4:00", "40 млн"],
            ["Van Halen", "США", "1972", "Хард-рок", "Jump", "Distance", "4:00", "60 млн"],
            ["The Police", "Великобритания", "1977", "Поп-рок", "Every Breath You Take", "Invisible Sun", "4:00", "80 млн"],
            ["Bon Jovi", "США", "1983", "Хард-рок", "Livin' on a Prayer", "Do What You Can", "4:00", "90 млн"],
            ["The Killers", "США", "2001", "Альтернативный рок", "Mr. Brightside", "Caution", "4:30", "50 млн"],
            ["Muse", "Великобритания", "1994", "Альтернативный рок", "Uprising", "Will of the People", "4:00", "60 млн"],
            ["Coldplay", "Великобритания", "1996", "Альтернативный рок", "Yellow", "Higher Power", "4:00", "70 млн"],
            ["Red Hot Chili Peppers", "США", "1983", "Фанк-рок", "Californication", "Black Summer", "4:30", "70 млн"],
            ["Linkin Park", "США", "1996", "Альтернативный металл", "In the End", "Lost in the Echo", "3:30", "60 млн"],
            ["Green Day", "США", "1987", "Панк-рок", "When I Come Around", "Father of All...", "3:30", "90 млн"],
            ["Foo Fighters", "США", "1994", "Альтернативный рок", "Everlong", "Shame Shame", "4:00", "60 млн"],
            ["The Offspring", "США", "1984", "Панк-рок", "Come Out and Play", "Let the Bad Times Roll", "3:00", "50 млн"],
            ["System of a Down", "США", "1994", "Альтернативный металл", "Chop Suey!", "Protect the Land", "3:30", "40 млн"],
            ["My Chemical Romance", "США", "2001", "Эмо", "Welcome to the Black Parade", "The Foundations of Decay", "4:30", "50 млн"],
            ["Fall Out Boy", "США", "2001", "Поп-панк", "Sugar, We're Goin Down", "The Last One", "3:30", "40 млн"],
            ["Paramore", "США", "2004", "Поп-панк", "Misery Business", "This Is Why", "3:30", "40 млн"],
            ["Panic! At The Disco", "США", "2004", "Поп-панк", "I Write Sins Not Tragedies", "Viva Las Vengeance", "3:30", "40 млн"],
            ["Twenty One Pilots", "США", "2009", "Альтернативный рок", "Stressed Out", "Saturday", "3:30", "50 млн"],
            ["Imagine Dragons", "США", "2008", "Альтернативный рок", "Radioactive", "Symphony", "4:00", "60 млн"],
            ["The 1975", "Великобритания", "2002", "Инди-рок", "Chocolate", "Happiness", "4:00", "40 млн"],
            ["Arctic Monkeys", "Великобритания", "2003", "Инди-рок", "I Bet You Look Good on the Dancefloor", "Body Paint", "3:30", "50 млн"],
            ["Kings of Leon", "США", "1999", "Рок", "Sex on Fire", "Time in Disguise", "4:00", "40 млн"],
            ["The Black Keys", "США", "2001", "Блюз-рок", "Lonely Boy", "Wild Child", "4:00", "40 млн"],
            ["Jack White", "США", "2001", "Рок", "Seven Nation Army", "Taking Me Back", "3:30", "40 млн"],
            ["Florence + The Machine", "Великобритания", "2007", "Инди-рок", "Dog Days Are Over", "King", "4:30", "40 млн"],
            ["The Lumineers", "США", "2005", "Инди-фолк", "Ho Hey", "Brightside", "4:00", "40 млн"]]

        }
        