include components/mixin.pug 
include components/data.pug 
 
doctype html

html(lang="ru") 
  head 
    title #{title}  
  body
  
    block nav 
 
    block content
      
    block footer 
      div.footer 
        p &copy; Федюнин И.М., Б9122-09.03.04, 2024-2025
        p.footer__right ✉ Контакты